<div class="conteiner">
    <div class="row">
        <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2 ">
            <img src="../../../assets/foto.jpg" 
            class="img-fluid" id="fotoperfil">
        </div>

                 <div class="col-xs-12 col-ms-2 col-md-2 col-lg-2 ">
                    <h4 id="nombre">Herrlein Mariano</h4>
                    <p>Full Stack Junior</p>
                </div>

                <div class="col-xs-12 col-ms-8 col-md-8 col-lg-8 ">
                    <span>
                        <h1>Acerca de mi</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, 
                            adipisicing elit. Repellat corrupti quasi eum veniam unde nesciunt,
                            magni a dolorem quia ipsa aliquid minima nobis odit veritatis quidem, 
                            voluptatem dolore optio provident! 
                        </p>
                    </span>
                </div>
            
    </div>
</div>