<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1>-
                <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Esse nihil perspiciatis facilis laborum ipsum, illo vel, 
                 reiciendis odit culpa voluptatibus, 
                 porro eveniet molestiae nostrum quisquam aliquid et eligendi omnis pariatur?
            </p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1>-
                <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Esse nihil perspiciatis facilis laborum ipsum, illo vel, 
                 reiciendis odit culpa voluptatibus, 
                 porro eveniet molestiae nostrum quisquam aliquid et eligendi omnis pariatur?
            </p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1>-
                <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Esse nihil perspiciatis facilis laborum ipsum, illo vel, 
                 reiciendis odit culpa voluptatibus, 
                 porro eveniet molestiae nostrum quisquam aliquid et eligendi omnis pariatur?
            </p>
        </ul>

    </div>
</div>