<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="conteiner">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Nombre del proyecto</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Expedita animi libero est delectus non!
                  Soluta recusandae asperiores tenetur nesciunt eum, 
                  in alias laudantium. Obcaecati officiis voluptas velit animi beatae porro.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/APLogo.png" class="img-fluid img-proyect">

        </div>
    </div>
</div>